<!-- Tell Django to load static files -->
{% load staticfiles %}

<html>
  <head>
    <!-- title block defined on each html page -->
    <title>
      {% block title %}
      {% endblock %}
    </title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Chrome on Android navbar color -->
    <meta name="theme-color" content="#006633">
    <!-- FB/Opengraph tags -->
    <meta property="og:url" content="https://go.gmu.edu/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="SRCT Go">
    <meta property="og:description" content="University-branded URL shortening.">
    <meta property="og:site_name" content="SRCT Go">
    <meta property="og:locale" content="en_US">
    <meta property="article:author" content="SRCT">
    <!-- Twitter card tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@MasonSRCT">
    <meta name="twitter:creator" content="@MasonSRCT">
    <meta name="twitter:url" content="https://go.gmu.edu/">
    <meta name="twitter:title" content="SRCT Go">
    <meta name="twitter:description" content="University-branded URL shortening.">

    <!-- Global favicon -->
    <link rel="icon" type="image/ico" href="{% static "img/favicon.ico" %}" />

    <!-- Global CSS -->
    <link href="https://srct.gmu.io/masonstrap/css/masonstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/global.css" %}" />
  </head>

  <body>
    <!-- Load in the navbar -->
    {% include 'layouts/navbar.html' %}

    <div class="container begin">
      <!-- Load in the main page content -->
      {% block content %}
      {% endblock %}
    </div>
  </body>

  <!-- Load in the footer template -->
  {% include 'layouts/footer.html' %}

  <!-- Global JS -->
  <script src="https://srct.gmu.io/masonstrap/js/masonstrap.min.js"></script>
</html>