<!-- Tell Django to load static files -->
{% load staticfiles %}

<!-- HTML 5 definition -->
<!DOCTYPE html>

<!-- Start the HTML page for Go -->
<html>
  <!-- load in our header content for every page  -->
  <head>
    <!-- load in the title block defined on each html page -->
    <title>
      {% block title %}
      {% endblock %}
    </title>

    <!-- Metatags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Chrome on Android navbar color -->
    <meta name="theme-color" content="#006633">
    <!-- FB/Opengraph tags -->
    <meta property="og:url" content="https://go.gmu.edu/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="SRCT Go">
    <!--<meta property="og:image" content="https://git.gmu.edu/uploads/project/avatar/10/noun_534670_cc.png">-->
    <meta property="og:description" content="University-branded URL shortening.">
    <meta property="og:site_name" content="SRCT Go">
    <meta property="og:locale" content="en_US">
    <meta property="article:author" content="SRCT">

    <!-- Load in our icon -->
    <link rel="icon" type="image/ico" href="{% static "img/favicon.ico" %}" />

    <!-- Load in global CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "css/bootswatch.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/styles.css" %}" />

    <!-- Load in global JS -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/clipboard.min.js" %}"></script>
  </head>

  <!-- Load in the body of a Go page -->
  <body>
    <!-- Load in the navbar template -->
    {% include 'layouts/navigation.html' %}

    <!-- Wrap the page content in a bootstrap container -->
    <div class="container">
      <!-- Load in the main page content -->
      {% block content %}
      {% endblock %}
    </div>

    <!-- Load in the footer template -->
    {% include 'layouts/footer.html' %}
  </body>
</html>