<!-- Tell Django to load static files -->
{% load staticfiles %}

<!-- HTML 5 definition -->
<!DOCTYPE html>

<!-- Start the HTML page for Go -->
<html>

    <!--  -->
    <head>
        <title>
            <!-- load in the title block defined on each html page -->
            {% block title %}
            {% endblock %}
        </title>

        <!-- Some metadata -->
        <meta charset="UTF-8">
        <meta name="keywords" content="George Mason, URL shortener, URL">
        <meta name="description" content="University branded URL shortener.">
        <meta name="author" content="Mason SRCT">
        <meta name="robots" content="all">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load in our icon -->
        <link rel="icon" type="image/ico" href="{% static "img/favicon.ico"%}" />

        <!-- Load in global CSS -->
        <link href="https://fonts.googleapis.com/css?family=Carrois+Gothic"
        rel="stylesheet" type="text/css">
        <link
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet">
        <link rel="stylesheet" href="{% static "css/bootswatch.min.css" %}" />
        <link rel="stylesheet" href="{% static "css/styles.css" %}" />
        <link rel="stylesheet" href="{% static "css/style-link-box.css" %}" />
        <link rel="stylesheet" href="{% static "css/style-link-box.css" %}" />

        <!-- Load in global js -->
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/clipboard.min.js" %}"></script>
    </head>

    <!-- Load in the body of a Go page -->
    <body>
        <!-- Load in the navbar template -->
        {% include 'layouts/navigation.html' %}

        <!-- Wrap the page content in a container -->
        <div class="container">
            <!-- Load in the main page content -->
            {% block content %}
            {% endblock %}
        </div>

        <!-- Load in the footer template -->
        {% include 'layouts/footer.html' %}

        <!-- Load in js that relies on page elements -->
        <script src="{% static "js/copy.js" %}"></script>
    </body>
</html>
