<!-- load in go templatetags -->
{% load go_extras %}

<!-- define our navbar -->
<div class="navbar navbar-default">
    <!-- define the main "header" of the navbar -->
    <div class="navbar-header" style="margin-left:5%;">
        <!-- responsive hamburger menu -->
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Go brand logo -->
        <a class="navbar-brand" href="{% url 'index' %}">
            <i class="fa fa-link"></i> Go
        </a>
    </div>

    <!-- define the parts of the navbar that collapse b/c responsiveness -->
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <!-- The left side -->
        <ul class="nav navbar-nav navbar-left">
            <li><a href="{% url 'about' %}">About</a></li>
            <!-- only show if the current user is authenticated -->
            {% if user.is_authenticated %}
                <!-- only if they are an approved user -->
                {% if user.registereduser.approved %}
                    <li><a href="{% url 'new_link' %}">New Link</a></li>
                {% endif %}
                <!-- only if the current user has not registered to use go -->
                {% if not user.registereduser.registered %}
                    <li><a href="{% url 'signup' %}">Register</a></li>
                {% endif %}
            {% endif %}
        </ul>

        <!-- The right side -->
        <ul class="nav navbar-nav navbar-right" style="margin-right:5%;">
            <!-- only show if the user is authenticated -->
            {% if user.is_authenticated %}
                <!-- logout -->
                <li>
                    <a href="{% url 'go_logout' %}">
                        Log Out <i class="fa fa-sign-out fa-fw"></i>
                    </a>
                </li>
            {% else %}
                <!-- login -->
                <li>
                    <a href="{% url 'go_login' %}">
                        Log In <i class="fa fa-sign-in fa-fw"></i>
                    </a>
                </li>
            {% endif %}

            <!-- if the user is a staff member -->
            {% if user.is_staff %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"
                    data-toggle="dropdown">
                    Administration <i class="fa fa-caret-down fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-left">
                        <li><a href="{% url 'useradmin' %}">User Moderation <i class="fa fa-users fa-fw"></i></a></li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
