*~
*.swp
*.pyc
.virtualenv
.vagrant/
venv
.venv
/provisioning/playbook.retry
/go/settings/secret.py
/go/static/admin
/go/media
.coverage
htmlcov/
.idea
__pycache__/
.vscode
go/sourceme.sh
.DS_STORE
node_modules/
