[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
pylint-django = "*"
coverage = "*"
black = "*"

[packages]
django = "<2.1,>=2.0"
django-crispy-forms = "==1.7.0"
django-ratelimit = "==1.0.1"
django-redis-cache = "==1.7.1"
hashids = "==1.2.0"
django-cas-client = "*"
requests = "*"
mysqlclient = "*"
djangorestframework = "*"

[requires]
python_version = "3.7"
