Django==1.7
django-auth-ldap==1.2.1
git+https://github.com/the-ben-waters/django-cas.git
django-piwik==0.1
django-qrcode==0.3
django-simple-captcha==0.4.2
flake8==2.5.1
gunicorn==18.0
hashids==1.0.1
mccabe==0.3.1
MySQL-python==1.2.5
pep8==1.5.7
Pillow==2.5.3
piwikapi==0.3
pyflakes==1.0.0
python-ldap==2.4.15
simplejson==3.3.1
six==1.7.3
wheel==0.24.0
wsgiref==0.1.2
