Django==1.9.1
django-auth-ldap==1.2.7
django-crispy-forms==1.6.0
django-piwik==0.1
django-qrcode==0.3
django-simple-captcha==0.5.1
flake8==2.5.1
git+https://github.com/kstateome/django-cas.git
gunicorn==19.4.5
hashids==1.1.0
mccabe==0.3.1
MySQL-python==1.2.5
pep8==1.6.2
Pillow==3.1.0
piwikapi==0.3
pyflakes==1.0.0
python-ldap==2.4.22
requests==2.9.1
simplejson==3.8.1
six==1.10.0
wheel==0.26.0
