<!-- include the base html template -->
{% extends 'layouts/base.html' %}

<!-- define the page title block -->
{% block title %}
500 Error &bull; Internal Server Error
{% endblock %}

<!-- Tell Django to load static files -->
{% load staticfiles %}

<!-- define the content block for the page -->
{% block content %}

<!-- define the page header div -->
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-exclamation-triangle fa-stack-1x fa-inverse"></i>
        </span>
        500 Error!
      </h1>
    </div>
  </div>
</div>

<!-- div that contains the 500 page content -->
<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
    <h1>500 Error - Internal Server Error</h1>
    <img id="squirrels" src="{% static "img/acorn.png" %}">
    <a href="/"><img src="{% static "img/acorn.png" %}" style="width:10vw;"></a>
  </div>
</div>

{% endblock %}
