{% extends 'base.html' %}


{% block title %}
Go - About
{% endblock %}


{% block content %}
<h3>~About~</h3>

<p>
Mason Go is a product of the George Mason University
<a href="http://srct.gmu.edu">Student-Run Computing and Technology</a>
organization. Go provides Mason-branded URL shortening for administration,
ULife groups, and student organizations. Access is moderated by SRCT
administrators.
</p>

{% if user.is_authenticated %}
<p>
You can <a href="{% url 'signup' %}">sign up</a> for use.
<br/><br/>
</p>
{% else %}
<p>
Please <a href="{% url 'go_login' %}">log in</a> in order to submit an access
request.
<br/><br/>
</p>
{% endif %}

{% endblock %}
