{% load piwik_tags %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>

    <title>
      {% block title %}
      {% endblock %}
    </title>

    <meta charset="UTF-8">
    <meta name="keywords" content="George Mason, URL shortener, URL">
    <meta name="description" content="University branded URL shortener.">
    <meta name="author" content="Jean Michel Rouly">
    <meta name="robots" content="all">

    <link href="http://fonts.googleapis.com/css?family=Carrois+Gothic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootswatch.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    <link rel="icon" type="image/jpg" href="{% static "img/favicon.ico"%}" />
    <script type="text/javascript" src="{% static "js/go.js"%}"></script>

  </head>

  <body>

    <div id="box">

      <h1><a href="/">Go (URL Shortener)</a></h1>
      {% include 'navbar.html' %}

      <hr />

      {% block content %}
      {% endblock %}

      <hr />

      {% include 'footer.html' %}
    </div>

    {% tracking_code %}

  </body>

</html>
