<!-- include the base html template -->
{% extends 'layouts/base.html' %}

<!-- Tell Django to load static files -->
{% load staticfiles %}

<!-- define the page title block -->
{% block title %}
SRCT Go &bull; New Link
{% endblock %}

<!-- define the content block for the page -->
{% block content %}

<!-- define the page header div -->
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-link fa-stack-1x fa-inverse"></i>
        </span>
        Shorten URL
      </h1>
    </div>
  </div>
</div>

<form class="form-horizontal" action="{{ form.action }}" method="post">
    {% csrf_token %}

		{{ form.non_field_errors }}

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					Step 1: Long URL
				</h4>
			</div>
			<div class="panel-collapse">
				<div class="panel-body">
					<div >
						<h4>{{ form.target_title }}</h4>
						<br />
						<div class="form-group {% if form.short.errors %} has-error {% endif %}">
							{{ form.target.errors }}
							<label
								class="control-label col-md-1"
								for="{{ form.target.id_for_label }}"
							>
								{{ form.target.label }}
							</label>
							<div class="controls col-md-6">
								{{ form.target }}
							</div>

							{% for error in form.target.errors %}
								<span class="help-block"><strong>{{ error }}</strong></span>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					Step 2: Short URL
				</h4>
			</div>
			<div class="panel-collapse">
				<div class="panel-body">
					<div >
						<h4>{{ form.short_title }}</h4>
						<br />
						<div class="form-group {% if form.short.errors %} has-error {% endif %}">
							<label class="control-label col-md-1" for="{{ form.short.id_for_label }}">{{ form.short.label }}</label>
							<div class="controls col-md-6">
								<div class="input-group">
									<span class="input-group-addon">https://go.gmu.edu/</span>
									{{ form.short }}
								</div>

								{% for error in form.short.errors %}
									<span class="help-block"><strong>{{ error }}</strong></span>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
				<div class="panel-heading">
						<h4 class="panel-title">
							Step 3: URL Expiration
						</h4>
				</div>
				<div class="panel-collapse" >
						<div class="panel-body">
							<div >
								<h4>{{ form.expires_title }}</h4>
								<br />
								<div class="form-group">
									<label class="control-label col-md-1" for="{{ form.expires.id_for_label }}">{{ form.expires.label }}</label>
									<div class="controls col-md-6">
										{{ form.expires }}
									</div>
								</div>
							</div>
						</div>
				</div>
		</div>

		<input type="submit" class="btn btn-primary btn-md col-md-4" value="Submit">
</form>

<!-- load some JS to hide/show the custom date field -->
<script src="{% static "js/new_link.js" %}"></script>

{% endblock %}
