{% extends 'base.html' %}


{% block title %}
Go - Login
{% endblock %}


{% block content %}
<h3>~Login~</h3>

{% for error in form.non_field_errors %}
  <p class="error">{{ error }}</p>
{% endfor %}

<form id="login-form" method="post"
action="{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

  <label for="username">Mason NetID</label>
  <br/>
  {% for error in form.username.errors %}
  <p class="error">{{ error }}</p>
  {% empty %}
  <br/>
  {% endfor %}
  <input type="text" id="username" name="username" placeholder="Mason NetID"
  {% if form.username.errors %} class="error"{% endif %} />
  <br/><br/>

  <label for="password">Password</label>
  <br/>
  {% for error in form.password.errors %}
  <p class="error">{{ error }}</p>
  {% empty %}
  <br/>
  {% endfor %}
  <input type="password" id="password" name="password" placeholder="Password"
  {% if form.password.errors %} class="error"{% endif %} />
  <br/><br/>

  <input type="submit" value="Login" />

</form>

<p>You must be <a href="{% url 'signup' %}">registered</a> to use this
service.</p>

{% endblock %}
