{% extends 'layouts/base.html' %}


{% block title %}
Go - My Links
{% endblock %}


{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">

      <h1><strong>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-link fa-stack-1x fa-inverse"></i>
        </span>
        <i class="fa">My Links</i>
      </strong></h1>

    </div>
  </div>
</div>

<div class="row">
    {% for url in urls %}
    <legend>
      {% include 'link_box.html' %}
    </legend>
    {% empty %}
      <h3>&nbsp;&nbsp;&nbsp;None found <i class="fa fa-frown-o"></i></h3>
    {% endfor %}
</div>
{% endblock %}
