<!-- include the base html template -->
{% extends 'layouts/base.html' %}

<!-- define the page title block -->
{% block title %}
SRCT Go &bull; Account Not Approved
{% endblock %}

<!-- define the content block for the page -->
{% block content %}

<!-- define the page header div -->
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <h1><strong>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-ban fa-stack-1x fa-inverse"></i>
        </span>
        <i class="fa">Account Not Approved</i>
      </strong></h1>
    </div>
  </div>
</div>

<!-- define the div that explains why you need to be registered -->
<div class="row">
  <div class="col-md-12">
    <p>
      Because Go allows users to represent their group or organization with
      George Mason branding, user accounts must be manually approved by a Go
      official.
    </p>
    <br />
    <p>
      {% if not request.user.registereduser.registered %}
      If you have not done so, you may <a href="{% url 'signup' %}">sign up</a>
      for an account.
      <br></br>
      This process takes time. Please be patient.
      {% else %}
      According to our database you have registered, but are not yet approved, to use Go.
      <br />
      This process takes time. Please be patient.
      {% endif %}
    </p>
    <br/><br/>
  </div>
</div>

{% endblock %}
