{% extends 'layouts/base.html' %}


{% block title %}
Go - Welcome
{% endblock %}

{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
        <h1>Go</h1>
        <p class="lead">University-branded URL shortening</p>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
      <h3>What is Go?</h3>
      <p>Go provides University-branded URL shortening for student organizations,
      administration, and ULife groups. Any approved user can generate a
      <a href="http://go.gmu.edu">go.gmu.edu</a> address
      that can redirect to a longer URL.
      <br></br>
      Go is a product of the
      George Mason University <a href="http://srct.gmu.edu">Student-Run Computing and Technology</a>
      student organization.
      </p>
  </div>

  <div class="col-md-4">
    <h3>Why should I use Go?</h3>
    <p>
      Go features:
      <ul>
        <li>
           Data tracking on the number of clicks a Go link gets.
        </li>
        <li>
           Options to share Go links across various social media platforms.
        </li>
        <li>
           QR Code generation at various resolutions, ready to be shared.
        </li>
        <li>
           Optional expiration for links after particular times.
        </li>
      </ul>
    </p>
  </div>

  <div class="col-md-4">
    <h3>How do I access Go?</h3>
    <p>
      In order to prevent abuse of the URL shortner, access to Go
      is moderated by SRCT administrators. New users will need to fill out
      a registration form in order to become an approved user.
      Additionally, only people with a current, valid Mason username and password
      may request to be approved.
    </p>

  </div>
</div>

<hr />
<div class="row">
  <div class="col-md-offset-1 col-md-4" "col-md-offset-2 col-md-4">
    <a href="{% url 'go_login' %}" class="btn btn-primary btn-block">Log In</a>
  </div>

  <div class="col-md-offset-1 col-md-4" "col-md-offset-2 col-md-4">
    <a href="{% url 'signup' %}" class="btn btn-primary btn-block">Sign Up</a>
  </div>

</div>
{% endblock %}
