{% extends 'base.html' %}


{% block title %}
Go - Registration Email Sent
{% endblock %}


{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <h1><strong>Registration Email Sent</strong></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      Your registration request has been sent! Please be patient, our
      administrators will handle it as soon as they can.
    </p>
  </div>
</div>

{% endblock %}
