{% extends 'layouts/base.html' %}


{% block title %}
Go - Registration Email Sent
{% endblock %}


{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <h1><strong>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
        </span>
        <i class="fa">Registration Email Sent</i>
      </strong></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      Your registration request has been sent!
      <br></br>
      Please be patient, our administrators will handle your application as soon as they can.
    </p>
  </div>
</div>

{% endblock %}
