<!-- include the base html template -->
{% extends 'layouts/base.html' %}

<!-- define the page title block -->
{% block title %}
SRCT Go &bull; Registration Email Sent
{% endblock %}

<!-- define the content block for the page -->
{% block content %}

<!-- define the page header div -->
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
        </span>
        Registration Email Sent
      </h1>
    </div>
  </div>
</div>

<!-- define the div that tells the user that they have registered -->
<div class="row">
  <div class="col-md-12">
    <p>
      Your registration request has been sent!
      <br></br>
      You will recieve a confirmation email when your application has been received
      and once it has been approved.
      <br />
      Please be patient, our administrators will handle your application as soon as they can.
    </p>
  </div>
</div>

{% endblock %}
