{% extends 'layouts/base.html' %}


{% block title %}
Go - Signup
{% endblock %}


{% block content %}
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">

      <h1><strong>Signup</strong></h1>

    </div>
  </div>
</div>

<div class="row">
{% if not registered %}
  <div class="col-md-12">
    <p>
      In order to succesfully provide this service, users must be manually
      approved. This prevents misuse of the URL shortener. Please indicate below
      if you are interested.
    <br/><br/>
    </p>
  </div>

  <div class="col-md-8">
    <div class="well">

      <form class="form-horizontal" method="post" action="{% url 'signup' %}">
      {% csrf_token %}
        <fieldset>

          {% if form.non_field_errors %}
          <div class="form-group has-error">
            <div class="col-md-12">
            {% for error in form.non_field_errors %}
              <span class="help-block">{{ error }}</p>
            {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if form.username.errors %}
          <div class="form-group has-error">
          {% else %}
          <div class="form-group">
          {% endif %}
            <div class="col-md-4">
              <label class="control-label" for="{{ form.username.id_for_label }}">
              {{ form.username.label }}</label>
            </div>

            <div class="col-md-8">
              {{ form.username }}

              {% for error in form.username.errors %}
              <span class="help-block">{{error}}</span>
              {% endfor %}
            </div>
          </div>

          {% if form.full_name.errors %}
          <div class="form-group has-error">
          {% else %}
          <div class="form-group">
          {% endif %}
            <div class="col-md-4">
              <label class="control-label" for="{{ form.full_name.id_for_label }}">
              {{ form.full_name.label }}</label>
            </div>

            <div class="col-md-8">
              {{ form.full_name }}

              {% for error in form.full_name.errors %}
              <span class="help-block">{{error}}</span>
              {% endfor %}
            </div>
          </div>

          {% if form.description.errors %}
          <div class="form-group has-error">
          {% else %}
          <div class="form-group">
          {% endif %}
            <div class="col-md-4">
              <label class="control-label" for="{{ form.description.id_for_label }}">
              {{ form.description.label }}</label>
            </div>

            <div class="col-md-8">
              {{ form.description }}

              {% for error in form.description.errors %}
              <span class="help-block">{{error}}</span>
              {% endfor %}
            </div>
          </div>

          {% if form.captcha.errors %}
          <div class="form-group has-error">
          {% else %}
          <div class="form-group">
          {% endif %}
            <div class="col-md-4">
              <label class="control-label" for="{{ form.captcha.id_for_label }}">
              {{ form.captcha.label }}</label>
            </div>

            <div class="col-md-8">
              {{ form.captcha }}

              {% for error in form.captcha.errors %}
              <span class="help-block">{{error}}</span>
              {% endfor %}
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <input type="submit" value="Submit"
              class="btn btn-primary btn-lg btn-block" />
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>

{% else %}
  {% if not approved %}
    <div class="col-md-12">
      <p>You have already submitted a request for approval to use Go.</p>
    </div>
  {% else %}
    <div class="col-md-12">
      <p>You are already approved to use Go.</p>
    </div>
  {% endif %}
{% endif %}
</div>
{% endblock %}
