{% extends 'base.html' %}


{% block title %}
Go - Signup
{% endblock %}


{% block content %}

<h3>~Signup~</h3>

<p>
In order to succesfully provide this service, users must be manually
approved. This prevents misuse of the URL shortener. Please indicate below
if you are interested.
<br/><br/>
</p>

{% for error in form.non_field_errors %}
  <p class="error">{{ error }}</p>
{% endfor %}

<form method="post" action="{% url 'signup' %}">
{% csrf_token %}

  <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
  <br/>
  {% for error in form.username.errors %}
    <p class="error">{{error}}</p>
  {% empty %}
    <br/>
  {% endfor %}
  {{ form.username }}
  <br/><br/>

  <label for="{{ form.full_name.id_for_label }}">{{ form.full_name.label }}</label>
  <br/>
  {% for error in form.full_name.errors %}
    <p class="error">{{error}}</p>
  {% empty %}
    <br/>
  {% endfor %}
  {{ form.full_name }}
  <br/><br/>

  <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
  <br/>
  {% for error in form.description.errors %}
    <p class="error">{{error}}</p>
  {% empty %}
    <br/>
  {% endfor %}
  {{ form.description }}
  <br/><br/>

  <label for="{{ form.captcha.id_for_label }}">{{ form.captcha.label }}</label>
  <br/>
  {% for error in form.captcha.errors %}
    <p class="error">{{error}}</p>
  {% empty %}
    <br/>
  {% endfor %}
  {{ form.captcha }}
  <br/><br/>


  <input type="submit" value="Sign Up" />
  <br/><br/>

</form>

{% endblock %}
