{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Go - A Product of Vapor
{% endblock %}


{% block content %}

<style>
.asteriskField {
    display: none;
}
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
     -moz-transition: height 0.35s ease;
       -o-transition: height 0.35s ease;
          transition: height 0.35s ease;
}

.collapse.in {
  height: auto;
}
</style>

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <h1><strong>Shorten URL</strong></h1>
    </div>
  </div>
</div>

{% crispy form %}
<div id='form-errors'>{{ form_errors }}</div>

{% endblock %}
