<!-- include the base html template -->
{% extends 'layouts/base.html' %}

<!-- define the page title block -->
{% block title %}
SRCT Go &bull; Link View
{% endblock %}

<!-- define the content block for the page -->
{% block content %}

<!-- define the page header div -->
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-link fa-stack-1x fa-inverse"></i>
        </span>
        Link View
      </h1>
    </div>
  </div>
</div>

<!-- just display one link  -->
<div class="row">
    {% if url %}
      {% include 'link_box.html' %}
    {% else %}
      <div class="col-md-12">
        <p>Nothing here.</p>
      </div>
    {% endif %}
</div>

{% endblock %}
