{% extends 'layouts/base.html' %}


{% block title %}
SRCT Go - Link View
{% endblock %}


{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <h1><strong>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-link fa-stack-1x fa-inverse"></i>
        </span>
        <i class="fa">Link View</i>
      </strong></h1>
    </div>
  </div>
</div>


<div class="row">
    {% if url %}
      {% include 'link_box.html' %}
    {% else %}
      <div class="col-md-12">
        <p>Nothing here.</p>
      </div>
    {% endif %}
</div>
{% endblock %}
