<!-- include the base html template -->
{% extends 'layouts/base.html' %}

{% load staticfiles %}

{% block title %} 
SRCT Go &bull; About 
{% endblock %}

{% block content %}

<!--  page header -->
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-question fa-stack-1x fa-inverse"></i>
        </span> About
      </h1>
    </div>
  </div>
</div>

<!-- terms of use -->
<div class="row" id="terms">
  <div class="col-md-12">
    <h2>Terms of Use</h2>
    <p>
      By using Go you acknowledge that you are a current George Mason Student or faculty
      member.
      Additionally, any link that you create is subject to removal by Go admins if it is
      deemed to associate the university with any derogatory or controversial matters.
      Go admins also reserve the right to remove and ban any users who attempt to abuse
      the link creation system in any manner.
      Since Go falls under the gmu.edu domain, users who use this service will act in compliance
      with the GMU <a href="https://universitypolicy.gmu.edu/policies/responsible-use-of-computing/">Responsible Use of Computing</a> policies.
    </p>
  </div>
</div>

<!-- who made go? -->
<div class="row">
  <div class="col-md-12">
    <h2>Who made Go?</h2>
    <p>
      Members of the
      <a href="//srct.gmu.edu">Student-Run Computing and Technology</a> registered
      student organization at <a href="//gmu.edu">George Mason University</a> are
      the clever, talented student developers behind Go.
    </p>
    <p>
      We are a group of creative people that like making software and want to give back
      to the Mason community at the same time.
    </p>
    <p>
      <a href="//srct.gmu.edu/contact/">Contact us</a> to get involved!
    </p>
  </div>
</div>

<!-- define the thanks! div -->
<div class="row">
  <div class="col-md-12">
    <h2>Thanks!</h2>
    <p>
      This project was made possible through the collective contributions of
      multiple Mason SRCT members.
      <a href="https://git.gmu.edu/srct/go/milestones/3">Go 2.2</a>:
      <a href="https://github.com/dhaynespls">David Haynes</a>,
      <a href="https://github.com/ocelotsloth">Mark Stenglein</a>,
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Andres Villogas</a>,
      <a href="https://github.com/IAmEyad">Eyad Hasan</a>,
      <a href="https://github.com/zosman1">Zach Osman</a>,
      <a href="">Leo Grandinetti</a>,
      <a href="https://mason.gmu.edu/~gmoran/">Grady Moran</a>,
      <a href="https://github.com/zmknox">Zach Knox</a>, 
      <a href="https://github.com/mike-bailey">Michael Bailey</a>,
      <a href="https://github.com/jrouly">Michel Rouly</a>,
      <a href="https://github.com/nanderson94">Nicholas Anderson</a>,
      <a href="">Kevin Mckigney</a>,
      and <a href="https://github.com/dwbond">Daniel Bond</a>.
      <a href="https://git.gmu.edu/srct/go/milestones/2">Go 2.1</a>:
      <a href="https://github.com/dhaynespls">David Haynes</a>,
      <a href="https://github.com/zosman1">Zach Osman</a>,
      <a href="https://github.com/roberthitt">Robert Hitt</a>,
      <a href="https://github.com/nanderson94">Nicholas Anderson</a>,
      <a href="https://github.com/zmknox">Zach Knox</a>,
      <a href="https://github.com/mike-bailey">Michael Bailey</a>,
      <a href="https://github.com/mdsecurity">Mattias Duffy</a>,
      <a href="https://github.com/IAmEyad">Eyad Hasan</a>, 
      and <a href="https://github.com/danielkim1">Danny Kim</a>.
      <a href="https://git.gmu.edu/srct/go/milestones/1">Go 2.0</a>:
      <a href="https://github.com/dhaynespls">David Haynes</a>,
      <a href="">Matthew Rodgers</a>,
      <a href="https://github.com/nanderson94">Nicholas Anderson</a>,
      and <a href="https://github.com/dwbond">Daniel Bond</a>.
      Go 1.0:
      <a href="https://github.com/jrouly">Michel Rouly</a>,
      <a href="https://github.com/creffett">Chris Reffett</a>,
      <a href="https://github.com/nanderson94">Nicholas Anderson</a>, and <a href="https://github.com/akshaykarthik">Akshay Karthik</a>.
    </p>
    <p>
      Additional thanks are due to the <a href="https://wiki.srct.gmu.edu/Executive_Board">
      Student-Run Computing and Technology executive
      board from 2014-present</a>,and our academic advisor,
      <a href="https://cs.gmu.edu/~kdobolyi/">Professor Kinga Dobolyi</a>.
    </p>
  </div>
</div>

{% endblock %}
