{% extends 'layouts/base.html' %}


{% block title %}
SRCT Go &bull; Administration Panel
{% endblock %}


{% block content %}

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">

      <h1><strong>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-balance-scale fa-stack-1x fa-inverse"></i>
        </span>
        <i class="fa">Moderation Panel</i>
      </strong></h1>

    </div>
  </div>
</div>


<!-- TABLE 1 -->
<div class="row">
  <div class="col-md-12">

    <h3>Users awaiting moderation</h3>

    <form method="post" action="useradmin">{% csrf_token %}

    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Selected</th>
          <th>Username</th>
          <th>Full Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>

      {% for unapproved in need_approval %}
        <tr>
          <td><input type="checkbox" name="username" value={{ unapproved.user }}></td>
          <td>{{ unapproved.user }}</td>
          <td>{{ unapproved.full_name }}</td>
          <td>{{ unapproved.description|default:"No description provided" }}</td>
        </tr>
      {% empty %}
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

    <div class="form-group">

      <input type="submit" name="_approve" value="Approve" class="btn btn-primary btn-sm">
      <input type="submit" name="_deny" value="Deny" class="btn btn-danger btn-sm">
      <input type="submit" name="_block" value="Block" class="btn btn-default btn-sm" style="background-color: black; color: white;">


    </div>

    </form>

  </div>
</div>

<!-- TABLE 2 -->
<div class="row">
  <div class="col-md-12">

    <h3>Blocked Users</h3>

    <form method="post" action="useradmin">{% csrf_token %}

    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Selected</th>
          <th>Username</th>
          <th>Full Name</th>
          <th>Description</th>
          <th>Is Blocked</th>
        </tr>
      </thead>
      <tbody>

      {% for blockedUsers in blocked_users %}
        <tr>
          <td><input type="checkbox" name="username" value={{ blockedUsers.user }}></td>
          <td>{{ blockedUsers.user }}</td>
          <td>{{ blockedUsers.full_name }}</td>
          <td>{{ blockedUsers.description|default:"No description provided" }}</td>
          <td>{{ blockedUsers.blocked }}</td>
        </tr>
      {% empty %}
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

    <div class="form-group">

      <!-- <input type="submit" name="_approve" value="Approve" class="btn btn-primary btn-sm"> -->
      <!-- <input type="submit" name="_deny" value="Deny" class="btn btn-danger btn-sm"> -->
      <input type="submit" name="_unblock" value="Un-Block" class="btn btn-default btn-sm">



    </div>

    </form>

  </div>
</div>

<!-- TABLE 3 -->
<div class="row">
  <div class="col-md-12">

    <h3>Current Users</h3>

    <form method="post" action="useradmin">{% csrf_token %}

    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Selected</th>
          <th>Username</th>
          <th>Full Name</th>
          <th>Description</th>
          <th>Is Blocked</th>
        </tr>
      </thead>
      <tbody>

      {% for currentUsers in current_users %}
        <tr>
          <td><input type="checkbox" name="username" value={{ currentUsers.user }}></td>
          <td>{{ currentUsers.user }}</td>
          <td>{{ currentUsers.full_name }}</td>
          <td>{{ currentUsers.description|default:"No description provided" }}</td>
          <td>{{ currentUsers.blocked }}</td>
        </tr>
      {% empty %}
        <tr>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
          <td>none</td>
        </tr>
      {% endfor %}

      </tbody>
    </table>

    <div class="form-group">

      <!-- <input type="submit" name="_approve" value="Approve" class="btn btn-primary btn-sm"> -->
      <input type="submit" name="_remove" value="Remove" class="btn btn-danger btn-sm">
      <input type="submit" name="_block" value="Block" class="btn btn-default btn-sm" style="background-color: black; color: white;">
      <!-- <input type="submit" name="_unblock" value="Un-Block" class="btn btn-default btn-sm"> -->



    </div>

    </form>

  </div>
</div>


{% endblock %}
