{% load go_extras %}
{% load qr_tags %}

<div class="link-box">
  <p>
    <strong>Long:</strong> <a href="{{url.target}}">{{url.target}}</a>
    <br />

    <strong>Short:</strong> <a href="/{{url.short}}">{{url.short}}</a>
    <br />

    {% if url.owner = request.user and request.user|is_registered %}
    <strong>Clicks:</strong> {{url.clicks}}
    <br />

    <strong>Expires:</strong> {{url.expires|default_if_none:"Never"}}
    <br />

    <strong>QR Code:</strong> <br/> {%qr_from_text url.get_absolute_url 90%}
    <br />

    <strong>
      <a href="{%url 'delete' url.short%}"
      onclick="return confirm('Are you sure you want to delete this link?');">
        Delete
      </a>
    </strong>
    {% endif %}
  </p>
</div>
