{% extends 'base.html' %}


{% block title %}
Go - A URL Shortener
{% endblock %}


{% block content %}

{% if links %}
  <div id="mylinks">
  {% for link in links %}
    <p>
      <strong>Long:</strong> <a href="{{link.target}}">{{link.target}}</a>
      <br />

      <strong>Short:</strong> <a href="/{{link.short}}">{{link.short}}</a>
      <br />

      <strong>Clicks:</strong> {{link.clicks}}
      <br />

      <strong>Expires:</strong> {{link.expires}}
      <br />

      <strong>
        <a href="{%url 'delete' link.short%}"
        onclick="return confirm('Are you sure you want to delete this link?');">
          Delete
        </a>
      </strong>
    </p>
  {% endfor %}
  </div>
{% else %}
  <p>None found.</p>
{% endif %}

{% endblock %}
