# Create a new file 'secret.py' and copy these contents into that file
# Please be sure to keep these variables secret in production

# You can generate a secret key from the following link: http://www.miniwebtool.com/django-secret-key-generator/
SECRET_KEY = "{{ django['secret_key'] }}"

# Use the values from the database configuration
DB_NAME = "{{ mysql['db'] }}"
DB_USER = "{{ mysql['user'] }}"
# Remember to use a strong password in production
DB_PASSWORD = "{{ mysql['pass'] }}"
# Often left blank
DB_HOST = ""

# Email configuration, if necessary
EMAIL_HOST = ""
EMAIL_PORT = ""
EMAIL_HOST_USER = ""
EMAIL_HOST_PASSWORD = ""
