export GO_SECRET_KEY="{{ django['secret_key'] }}"
export GO_ALLOWED_HOSTS="{{ django['host'] }}"
export GO_EMAIL_DOMAIN="{{ django['email_domain'] }}"
export GO_CAS_URL="{{ django['cas_url'] }}"
export GO_DB_NAME="{{ mysql['db'] }}"
export GO_DB_USER="{{ mysql['user'] }}"
export GO_DB_PASSWORD="{{ mysql['pass'] }}"
export GO_DB_HOST=localhost
export GO_DB_PORT=3306
export GO_EMAIL_HOST=
export GO_EMAIL_PORT=
export GO_EMAIL_HOST_USER=
export GO_EMAIL_HOST_PASSWORD=
export GO_EMAIL_FROM=
export GO_EMAIL_TO=
