<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="theme-color" content="#006633" />
  <meta name="description" content="University-branded URL shortening" />
  <title>Welcome &bull; SRCT Go</title>
</head>

<body>
  <!-- React injects itself here -->
  <div id="root"></div>
</body>

<script src="static/main.js"></script>
<script src="https://srct.gmu.io/masonstrap/js/masonstrap.min.js"></script>

<link rel="stylesheet" href="https://srct.gmu.io/masonstrap/css/masonstrap.min.css" rel="stylesheet">


</html>