html {
  position: relative;
  min-height: 100%;
  font-family: -apple-system, BlinkMacSystemFont,
      "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
      "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.valign-center {
  height: 60px;
  line-height: 60px;
}

.valign-center span {
  display: inline-block;
  vertical-align: middle;
}

.asteriskField {
    display: none;
}

.fa-li {
  top: 5px;
}

.fa-ul > li {
  padding: 0 0 5px;
}

.navbar-brand {
  padding: 10px 15px;
}

.btn-blockUsr {
  font-weight: 600;
}

.btn-Unblock {
  font-weight: 600;
}

.inputfilter {
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 35%;
    font-size: 16px;
    padding: 7px 20px 7px 10px;
    border: 1px solid #ddd;
    float: right;
    margin-top: 21px;
    margin-bottom: 10.5px;
}

.radios {
	list-style: none;
}

.radios > li {
	margin-bottom: 0.5em;
}

.radios > li:last-child {
	margin-bottom: 0em;
}
