a.share:link {color:#000000;}     
a.share:visited {color:#000000;}     
a.share:hover {color:#000000;}     
a.share {text-decoration:none;}

a.button:link {color:#FFF;}
a.button:visited {color:#FFF;}
a.button:hover {color:#FFF;}

legend {
    font-size: inherit;
}

#button-container {
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
}

#copy-button {
    border: none;
    background-color: #eeeeee;
    padding-bottom: 3px;
}

#copy-button:focus {
    outline: none;
}

#clipboard-icon {
    font-size: 14px;
}

#link:visited {
    color: #006633;
}

#link-container {
    width: 400px;
}

.tooltip-inner {
    white-space: nowrap;
    max-width: none;
}
