html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.valign-center {
  height: 60px;
  line-height: 60px;
}
.valign-center span {
  display: inline-block;
  vertical-align: middle;
}
.asteriskField {
    display: none;
}
.fa-li {
  top: 5px;
}
.fa-ul > li {
  padding: 0 0 5px;
}
.navbar-brand {
  padding: 10px 15px;
}
.btn-blockUsr {
  font-weight: 600;
}
.btn-Unblock {
  font-weight: 600;
}
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}
