<!-- include the base html template -->
{% extends 'layouts/base.html' %}

<!-- Tell Django to load static files -->
{% load staticfiles %}

<!-- load django crispy forms' tags -->
{% load crispy_forms_tags %}

<!-- define the page title block -->
{% block title %}
SRCT Go &bull; Edit Link
{% endblock %}

<!-- define the content block for the page -->
{% block content %}

<!-- define the page header div -->
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <h1><strong>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
        <i class="fa">Edit Link</i>
      </strong></h1>
    </div>
  </div>
</div>

<!-- call django crispy forms to render the go link creation form here -->
{% crispy form %}

<!-- load some JS to hide/show the custom date field -->
<script src="{% static "js/new_link.js" %}"></script>

{% endblock %}
