{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Go - A University Branded URL Shortener
{% endblock %}

{% block content %}
<script type="text/javascript">
$(function() {
  $("div_id_expires_custom").hide();
  if ($("#id_expires_5").is(":checked")) {
        $("#div_id_expires_custom").slideDown();
      } else {
          $("#div_id_expires_custom").slideUp();
      }
    $("#div_id_expires").click(function() {
      if ($("#id_expires_5").is(":checked")) {
        $("#div_id_expires_custom").slideDown();
      } else {
          $("#div_id_expires_custom").slideUp();
      }
  })  
})
</script>

<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <h1><strong>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-link fa-stack-1x fa-inverse"></i>
        </span>
        <i class="fa">Shorten URL</i>
      </strong></h1>
    </div>
  </div>
</div>

{% crispy form %}

{% endblock %}
