<!-- include the base html template -->
{% extends 'layouts/base.html' %}

<!-- define the page title block -->
{% block title %}
SRCT Go &bull; My Links
{% endblock %}

<!-- define the content block for the page -->
{% block content %}

{% load staticfiles %}

<!-- define the page header div -->
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-link fa-stack-1x fa-inverse"></i>
        </span>
        My Links
      </h1>
    </div>
  </div>
  <div class="newlink" style="text-align: right;">
      <a href="{% url 'new_link' %}"><i class="fa fa-plus" aria-hidden="true"></i> Add new link</a>
  </div>
</div>

<!-- show all of the links -->
<div class="row">
    <!-- for every url in the urls list-->
    {% for url in urls %}
        <legend>
        <!-- include the link box for this url -->
        {% include 'link_box.html' %}
        </legend>
    <!-- unless the list is empty -->
    {% empty %}
      <h3>&nbsp;&nbsp;&nbsp;None found <i class="fa fa-frown-o"></i></h3>
    {% endfor %}
</div>

{% endblock %}
