{% extends 'layouts/base.html' %}


{% block title %}
SRCT Go &bull; Login
{% endblock %}


{% block content %}
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">

      <h1><strong>Login</strong></h1>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="well">

      <form class="form-horizontal" method="post" action="{% url 'django.contrib.auth.views.login' %}">
      {% csrf_token %}
      <fieldset>

        {% if form.non_field_errors %}
          <div class="form-group has-error">
            <div class="col-md-12">
            {% for error in form.non_field_errors %}
              <span class="help-block">{{ error }}</p>
            {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if form.username.errors %}
          <div class="form-group has-error">
          {% else %}
          <div class="form-group">
          {% endif %}
            <div class="col-md-4">
              <label class="control-label" for="{{ form.username.id_for_label }}">
              {{ form.username.label }}</label>
            </div>

            <div class="col-md-8">
              <input type="text" id="username" name="username" placeholder="Mason NetID" />
              {% for error in form.username.errors %}
              <span class="help-block">{{error}}</span>
              {% endfor %}
            </div>
          </div>

          {% if form.password.errors %}
          <div class="form-group has-error">
          {% else %}
          <div class="form-group">
          {% endif %}
            <div class="col-md-4">
              <label class="control-label" for="{{ form.password.id_for_label }}">
              {{ form.password.label }}</label>
            </div>

            <div class="col-md-8">
              <input type="password" id="password" name="password" placeholder="Password" />
              {% for error in form.password.errors %}
              <span class="help-block">{{error}}</span>
              {% endfor %}
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <input type="submit" value="Login"
              class="btn btn-primary btn-lg btn-block" />
            </div>
          </div>

        </fieldset>
      </form>

    </div>
  </div>
</div>

<p>You must be registered to use this service. Please log in in order to
submit a registration request.</p>

{% endblock %}
