<!-- include the base html template -->
{% extends 'layouts/base.html' %}

<!-- load django crispy forms' tags -->
{% load crispy_forms_tags %}

<!-- define the page title block -->
{% block title %}
SRCT Go &bull; Apply
{% endblock %}

<!-- define the content block for the page -->
{% block content %}

<!-- define the page header div -->
<div class="page-header" id="banner">
  <div class="row">
    <div class="col-md-12">
      <h1>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
        </span>
        Apply to Go
      </h1>
    </div>
  </div>
</div>

<!-- Define the div that describes why we need a signup process -->
<div class="row">
  <div class="col-md-12">
    <p>
      In order to prevent abuse of the URL Shortner, users must be manually approved.
      <br></br>
      You will need to list the organization you represent and, while optional, we would like to know
      <br />
      why you would like to use Go and
      some examples where you would use this service.
      <br></br>
      Please indicate below if you are interested.
    </p>
    <br />
    <legend></legend>
  </div>
</div>

<!-- call django crispy forms to render the go signup form here -->
{% crispy form %}

{% endblock %}
